# Dependencies
node_modules/

# Build artifacts
/dist
/build

# Logs & Temp
*.log
*.tmp

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# WhatsApp Session Data
.baileys_auth/
.wwebjs_auth/
.wwebjs_cache/